@charset "UTF-8";

/* 
    Em HTML é id  -  Em CSS é #
    Em HTML é class - Em CSS é .
*/

body {
    background-color: rgb(178, 255, 229);
}

h1 {
    color: rgb(0, 145, 75);
}

#principal {
    text-align: center;
    color: black;
}

h2 {
    color: rgb(192, 108, 23);
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(255, 255, 34, 0.361);
}